<!-- views/partials/header.ejs -->
<div class="flex justify-end mb-4">
  <button id="theme-toggle" class="focus:outline-none">
    <svg id="theme-toggle-dark-icon" class="hidden w-6 h-6 text-gray-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4.22 2.22a1 1 0 011.415 1.415L15 6.414a1 1 0 11-1.415-1.415l.625-.625zM18 9a1 1 0 100-2h-1a1 1 0 100 2h1zm-2.22 5.78a1 1 0 00-1.415-1.415l-.625.625a1 1 0 001.415 1.415l.625-.625zM10 16a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zm-4.22-1.78a1 1 0 00-1.415 1.415l.625.625a1 1 0 001.415-1.415l-.625-.625zM2 11a1 1 0 100-2H1a1 1 0 100 2h1zm2.22-5.78a1 1 0 00-1.415 1.415l.625.625a1 1 0 001.415-1.415l-.625-.625zM10 5a5 5 0 100 10A5 5 0 0010 5z"/>
    </svg>
    <svg id="theme-toggle-light-icon" class="hidden w-6 h-6 text-yellow-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path d="M10 3.22a1 1 0 011 1v1.56a1 1 0 11-2 0V4.22a1 1 0 011-1zm4.95 2.05a1 1 0 011.414 1.414l-.89.89a1 1 0 11-1.414-1.414l.89-.89zM17 10a1 1 0 110 2h-1.56a1 1 0 110-2H17zm-2.05 4.95a1 1 0 00-1.414 1.414l.89.89a1 1 0 001.414-1.414l-.89-.89zM10 17a1 1 0 011 1v1.56a1 1 0 11-2 0V18a1 1 0 011-1zm-4.95-2.05a1 1 0 00-1.414 1.414l.89.89a1 1 0 001.414-1.414l-.89-.89zM3 10a1 1 0 110 2H1.44a1 1 0 110-2H3zm2.05-4.95a1 1 0 00-1.414-1.414l-.89.89a1 1 0 101.414 1.414l.89-.89zM10 6a4 4 0 100 8 4 4 0 000-8z"/>
    </svg>
  </button>
</div>

